<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="data:,">
    <title>Coin Project 작성중</title>
</head>

<body onload="">
    <h3>코인 리스트</h3>
    <br />
    <form action="/:coinName" method="get" id="coinForm">
        <p>
            <select id="coinSelect"></select>
        </p>
        <input type="date" id="startDate" value=<%- weekAgo %> min="2010-01-01" max=<%- today %> name="startDate">
        <input type="date" id="endDate" value=<%- today %> min="2010-01-01" max=<%- today %> name="endDate">
        <button type="button" onclick="changeUrl()">검색</button>
        </p>
    </form>
    <br />
    <div id="contents"></div>
    <script>
        window.onload = addCoinList;

        function addCoinList() {
            const listArea = document.getElementById("coinSelect");
            const coinInitInfo = <%- JSON.stringify(coinInitInfo) %>;

            for (let i = 0; i < coinInitInfo.length; i++) {
                const option = document.createElement("option");
                const coinName = coinInitInfo[i].Name;
                option.setAttribute("value", coinName);
                option.innerHTML = coinName; listArea.appendChild(option);
            }
        }

        function changeUrl() {
            const form = document.getElementById("coinForm");
            const coin = document.getElementById("coinSelect");

            form.setAttribute("action", coin.value)
            form.submit();
        }
    </script>
</body>

</html>